In [1]:
import pandas as pd
df=pd.DataFrame({"Name":["Ajay","Kishore","Suresh"],
                 "Math":[85,92,78],
                 "Science":[88,95,80]})
melted=pd.melt(df,id_vars=["Name"],var_name="Subject",value_name="Score")
print(melted)

      Name  Subject  Score
0     Ajay     Math     85
1  Kishore     Math     92
2   Suresh     Math     78
3     Ajay  Science     88
4  Kishore  Science     95
5   Suresh  Science     80

In [3]:
import pandas as pd
df=pd.DataFrame({"Name":["Ajay","Kishore","Suresh"],
                 "Subject":["Math","Math","Science"],
                 "Scores":[88,95,80]})
pivoted=df.pivot(index="Name",columns="Subject",values="Scores")
print(pivoted)

Subject  Math  Science
Name
Ajay     88.0      NaN
Kishore  95.0      NaN
Suresh    NaN     80.0

In [55]:
import pandas as pd
df1=pd.DataFrame({"Name":["Ajay","Kishore","Suresh"],
                 "Subject":["Math","Math","Science"],
                 "Score":[88,95,80]})
melted=pd.melt(df1,id_vars=["Name"],var_name="Subject",value_name="Score_value")
#print(melted)
reshaped=melted.pivot(index="Name",columns="Subject",values="Score_value")
print(reshaped)

Subject Score  Subject
Name
Ajay       88     Math
Kishore    95     Math
Suresh     80  Science