In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
df_filled = df.fillna(0).astype(int)  # Replace all NaN values with 0
print(df_filled)

   A  B
0  1  0
1  0  5
2  3  6

In [3]:
import pandas as pd

df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
df_forward = df.fillna(method='ffill')  # Forward fill
df_backward = df.fillna(method='bfill')  # Backward fill
print(df_forward)
print(df_backward)

     A    B
0  1.0  NaN
1  1.0  5.0
2  3.0  6.0
     A    B
0  1.0  5.0
1  3.0  5.0
2  3.0  6.0

C:\Users\DELL\AppData\Local\Temp\ipykernel_12864\2299350301.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward = df.fillna(method='ffill')  # Forward fill
C:\Users\DELL\AppData\Local\Temp\ipykernel_12864\2299350301.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward = df.fillna(method='bfill')  # Backward fill

In [13]:
import pandas as pd
df = pd.DataFrame({'text': ['hello', 'world', None]})

# Convert to uppercase
df['text_upper'] = df['text'].str.upper()
print(df['text_upper'])

# Replace substrings
df['text_replaced'] = df['text'].str.replace('l', 'x')
print(df)

# Check if string contains a pattern
df['contains_o'] = df['text'].str.contains('o', na=False)
print(df)

# Remove whitespace
df['text_stripped'] = df['text'].str.strip()
print(df)

0    HELLO
1    WORLD
2     None
Name: text_upper, dtype: object
    text text_upper text_replaced
0  hello      HELLO         hexxo
1  world      WORLD         worxd
2   None       None          None
    text text_upper text_replaced  contains_o
0  hello      HELLO         hexxo        True
1  world      WORLD         worxd        True
2   None       None          None       False
    text text_upper text_replaced  contains_o text_stripped
0  hello      HELLO         hexxo        True         hello
1  world      WORLD         worxd        True         world
2   None       None          None       False          None

In [23]:
# Using Apply()
# For Series
import pandas as pd

# Example Series
data = pd.Series([1, 2, 3, 4, 5])

# Applying a lambda function
result = data.apply(lambda x: x ** 2)
print(result)

# For DataFrame:
# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
# Applying a function along columns (axis=0)
result = df.apply(lambda x: x.sum(), axis=0)
print(result)

# Applying a function along rows (axis=1)
result = df.apply(lambda x: x.max(), axis=1)
print(result)

0     1
1     4
2     9
3    16
4    25
dtype: int64
A     6
B    15
dtype: int64
0    4
1    5
2    6
dtype: int64

In [29]:
# Using Applymap()
# Applying a function elementwise
result = df.applymap(lambda x: x ** 2)
print(result)

   A   B
0  1  16
1  4  25
2  9  36

C:\Users\DELL\AppData\Local\Temp\ipykernel_12864\3319636830.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result = df.applymap(lambda x: x ** 2)

In [35]:
# Using map()
# Example Series
data = pd.Series([1, 2, 3, 4, 5])

# Using map
result = data.map(lambda x: x * 10)
print(result)

# Mapping with a dictionary
result = data.map({1: 'One', 2: 'Two', 3: 'Three'})
print(result)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0      One
1      Two
2    Three
3      NaN
4      NaN
dtype: object

In [37]:
import numpy as np

# Using NumPy functions
result = df['A'].apply(np.sqrt)
print(result)

0    1.000000
1    1.414214
2    1.732051
Name: A, dtype: float64