In [11]:
# defining a series using list,dict,custom index and numpy array
import pandas as pd
import numpy as np
#from a list
data=[10,20,30,40]
series=pd.Series(data)
print(series)

# from a dict
data_dict={"a":1,"b":2,"c":3,"d":4}
series_dict=pd.Series(data_dict)
print(series_dict)

# with custom index
data_custom=[100,200,300]
index=["x","y","z"]
series=pd.Series(data_custom,index=index)
print(series)

# with numpy array
data=np.array([11,22,33,44])
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
x    100
y    200
z    300
dtype: int64
0    11
1    22
2    33
3    44
dtype: int32

# using Mathematical operations

In [42]:
# series=pd.Series([1,2,3,4])
# print(series*2)
# print(series+5)
data_custom=[100,200,300]
index=["x","y","z"]
series=pd.Series(data_custom,index=index)
print(series*5)

x     500
y    1000
z    1500
dtype: int64

# using Statistical Functions

In [50]:
# data=[10,20,30,40]
# series=pd.Series(data)
data_custom=[100,200,300]
index=["x","y","z"]
series=pd.Series(data_custom,index=index)
#print(series)
print(series.mean())
print(series.sum())
print(series.max())
print(series.min())

200.0
600
300
100

# Index Manipulation

In [39]:

print(series,index)
series.index=["a","b","c","d"]
print(series)

0    10
1    20
2    30
3    40
dtype: int64 ['x', 'y', 'z']
a    10
b    20
c    30
d    40
dtype: int64

In [5]:
# Defining the data by csv file.
import pandas as pd
file_path="E:\\pythonprogs\\Book1.csv"
df=pd.read_csv(file_path)
print(df)

   product  quantity
0     coke        10
1   spirit         4
2  thumsup         8

In [19]:
# Define the data using Excel file.
import pandas as pd
file_path="E:\\pythonprogs\\Book2.xlsx"
df=pd.read_excel(file_path)
df1=pd.read_excel(file_path,sheet_name="Sheet2")
print(df)
print(df1)

    Name   id
0   Ravi  169
1  Kiran  175
2   Hari  159
  Branch  Sem
0    CSE    1
1    ECE    2
2     IT    3

In [23]:
# using json file.
# import pandas as pd
# df=pd.read_json("jsonfile1")
# print(df)

In [35]:
# read from sql.
import pandas as pd
import pymysql
db_name="employee"
db_host="localhost"
db_username="root"
db_password="tejaMS123@"
conn=pymysql.connect(host=db_host,
                     user="root",
                     password="tejaMS123@",
                     db=db_name)
query="select * from emp"
df=pd.read_sql(query,conn)
conn.close()
#print(df)
ci=[]
for i in range(len(df)):
    ci.append("A"+str(i))
df.index=ci
print(df)

     empno   ename        job     mgr    hiredate      sal    comm  deptno
A0    7839    KING  PRESIDENT     NaN  1981-11-17   5000.0     NaN    10.0
A1    7698   BLAKE    MANAGER  7839.0  1981-05-01   2850.0     NaN    30.0
A2    7782   CLARK    MANAGER  7839.0  1981-06-09   2450.0     NaN    10.0
A3    7566   JONES    MANAGER  7839.0  1981-04-02   2975.0     NaN    20.0
A4    7788   Scott    ANALYST  7566.0  1987-07-13   3000.0     NaN    20.0
A5    7902    FORD    ANALYST  7566.0  1981-12-03   3000.0     NaN    20.0
A6    7369   SMITH      CLERK  7902.0  1980-12-17   3000.0     NaN    20.0
A7    7499   ALLEN   SALESMAN  7698.0  1981-02-20   1600.0   300.0    30.0
A8    7521    WARD   SALESMAN  7698.0  1981-02-22   1250.0   500.0    30.0
A9    7654  MARTIN   SALESMAN  7698.0  1981-09-28   1250.0  1400.0    30.0
A10   7844  TURNER   SALESMAN  7698.0  1981-09-08   1500.0     0.0    30.0
A11   7876   ADAMS      CLERK  7788.0  1987-07-13   1100.0     NaN    20.0
A12   7900   JAMES      CLERK  7698.0  1981-12-03    950.0     NaN    30.0
A13   7934  MILLER      CLERK  7782.0  1982-01-23   1300.0     NaN    10.0
A14   7777   tuski       None     NaN  1991-02-14      NaN     NaN     NaN
A15   8888     eef       None     NaN  1991-12-12      NaN     NaN     NaN
A16   3385    ewfe       None     NaN  1991-12-17      NaN     NaN     NaN
A17   9090   SURYA       None     NaN  1990-12-12      NaN     NaN     NaN
A18   3384   KRISH   SALESMAN  7783.0  1999-10-12   5000.0     0.0    10.0
A19   9999  SURESH      CLERK  7785.0  1999-12-19   1200.0     0.0    20.0
A20   3507     RAM    ANALYST  8768.0  1998-10-16  20000.0     0.0    80.0

C:\Users\DELL\AppData\Local\Temp\ipykernel_13704\157072080.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,conn)

In [21]:
# Exporting data to excel file.
import pandas as pd
import pymysql
db_name="employee"
db_host="localhost"
db_username="root"
db_password="tejaMS123@"
conn=pymysql.connect(host=db_host,
                     user="root",
                     password="tejaMS123@",
                     db=db_name)
equery="select * from emp"
dquery="select * from dept"
emp_df=pd.read_sql(equery,conn)
dept_df=pd.read_sql(dquery,conn)
conn.close()
# print(emp_df)
# print(dept_df)
#print(emp_df.to_csv("Book1.csv"))
with pd.ExcelWriter("Company.xlsx")as Writer:
    emp_df.to_excel(Writer,index=False,sheet_name="employee")
    dept_df.to_excel(Writer,index=False,sheet_name="department")

C:\Users\DELL\AppData\Local\Temp\ipykernel_8440\3127586128.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  emp_df=pd.read_sql(equery,conn)
C:\Users\DELL\AppData\Local\Temp\ipykernel_8440\3127586128.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dept_df=pd.read_sql(dquery,conn)

In [37]:
# import pandas as pd
# file_path="C:\\Users\\DELL\\Documents\\python\\pandas\\Company.xlsx"
# df=pd.read_excel(file_path,sheet_name=["employee","department"])
# print(df)