In [7]:
!pip install PyMySQL
!pip install ipython.sql
!pip install mysqlclient

Collecting PyMySQL
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1
Collecting ipython.sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython.sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from ipython.sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython.sql) (2.0.34)
Collecting sqlparse (from ipython.sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython.sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from ipython.sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->ipython.sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython.sql
Successfully installed ipython.sql-0.5.0 prettytable-3.12.0 sqlparse-0.5.3
Collecting mysqlclient
  Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.6

In [25]:
import pymysql

In [21]:
db_name="warehouse"
db_host="localhost"
db_username="root"
db_password="tejaMS123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="tejaMS123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [57]:
try:
    conn=pymysql.connect(host="localhost",user="root",password="tejaMS123@")
    m1=conn.cursor()
    m1.execute("show databases")
    print("Available Databases :")
    i=1
    for db in m1:
        print(i,".",db[0])
        i += 1
except e:
    print(e)

Available Databases :
1 . bank
2 . employee
3 . information_schema
4 . inventory
5 . library
6 . mysql
7 . office
8 . performance_schema
9 . school
10 . sys
11 . warehouse

In [91]:
mydb=pymysql.connect(host="localhost",user="root",passwd="tejaMS123@",database="inventory")
mycursor=mydb.cursor()
mycursor.execute("show tables")
i=1
for db in mycursor:
    print(i,".",db[0])
    i += 1

1 . orders
2 . products
3 . suppliers

In [85]:
class book:
    def __init__(self):
        self.mydb=pymysql.connect(host="localhost",user="root",passwd="tejaMS123@",database="Library")
        self.mycursor=self.mydb.cursor()
    def setbook(self):
        self.bookid=int(input("enter bookid:"))
        self.title=input("enter title:")
        self.author=input("enter author:")
        self.ISBN=int(input("enter ISBN:"))
        self.status=input("enter(available/borrowed):")
        sqlINS="insert into books values(%s,%s,%s,%s,%s)"
        val=(self.bookid,self.title,self.author,self.ISBN,self.status)
        self.mycursor.execute(sqlINS,val)
        self.mydb.commit()
    def getbook(self):
        self.mycursor.execute("select * from books")
ob=book()
ob.setbook()
ob.getbook()

enter bookid: 323
enter title: 22
enter author: 1
enter ISBN: 2
enter(available/borrowed): 2

In [ ]:
# Accountmaster and Acctransaction
mydb=pymysql.connect(host="localhost",user="root",passwd="tejaMS123@",database="bank")
mycursor=mydb.cursor()
class Accmaster:
    def setAccmaster(self):
        self.accno=input("enter accno:")
        self.name=input("enter name:")
        self.balance=int(input("enter balance:"))
        self.type=input("enter(i/u):")
        if self.type=="i":
            sqlINS="insert into Accmaster(accno,name,balance) values(%s,%s,%s)"
            val=(self.accno,self.name,self.balance)
            self.mycursor.execute(sqlINS,val)
            self.mydb.commit()
        elif self.type=="u":
            sqlupd="SELECT balance FROM Accmaster WHERE accno = %s"
            self.mycursor.execute(sqlupd,(self.accno,))
            result=self.mycursor.fetchone()
            if result:
                current_balance=result[0]
                self.balance = int(input("Enter new balance: "))
                sqlupd = "UPDATE Accmaster SET balance = %s WHERE accno = %s"
                self.mycursor.execute(sqlupd, (self.balance, self.accno))
                self.mydb.commit()
    def getAccmaster(self):
        self.mycursor.execute("select * from Accmaster")
        results = self.mycursor.fetchall()
        for x in results:
            print(x)
class Acctrans(Accmaster):
    def setAcctrans(self):
        self.accno=input("enter accno:")
        self.ttype=input("enter(d/w):")
        self.tamount=int(input("enter tamount:"))
        self.mycursor.execute("select balance from accmaster where accno=%s",(self.accno,))
        result=self.mycursor.fetchone()
        if result:
            current_balance=result[0]
            if self.ttype=="d":
                new_balance=current_balance+self.tamount
            elif self.ttype=="w":
                new_balance=current_balance-self.tamount
        sqlINS="insert into acctrans(accno,ttype,tamount) values(%s,%s,%s)"
        self.mycursor.execute(sqlINS,(self.accno,self.ttype,self.tamount))
        sqlupd="update accmaster set balance=%s where accno=%s"
        self.mycursor.execute(sqlupd,(new_balance,self.accno))
        self.mydb.commit()
    def getAcctrans(self):
        self.mycursor.execute("select * from Acctrans")
        results = self.mycursor.fetchall()
        for x in results:
            print(x)
ob=Acctrans()
ob.getAccmaster()
ob.setAccmaster()
ob.setAcctrans()

In [ ]:
#Inventory Management system
mydb=pymysql.connect(host="localhost",user="root",passwd="tejaMS123@",database="inventory")
mycursor=mydb.cursor()
class Product:
    def setProduct(self):
        self.product_id = input("Enter product_id: ")
        self.name = input("Enter product name: ")
        self.category = input("Enter product category: ")
        self.quantity = input("Enter product quantity: ")
        self.price_per_unit = float(input("Enter product price per unit: "))
        self.supplier_id = input("Enter supplier_id: ")
        self.mfd = input("Enter MFD (Manufacture Date): ")
        self.exd = input("Enter EXD (Expiry Date):")
        self.details={"supplier id ":self.supplier_id,"Manufacture Date":self.mfd,"Expiry Date":self.exd}
        dc.mycursor.execute("SELECT * FROM suppliers WHERE supplier_id = %s", (self.supplier_id,))
        supplier = dc.mycursor.fetchone()
        if supplier:
            sqlINS = """INSERT INTO products(product_id, name, category, quantity, price_per_unit, supplier_id, mf_date, ex_date)
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
            val = (self.product_id, self.name, self.category, self.quantity, self.price_per_unit, self.supplier_id, self.mfd, self.exd)
            dc.mycursor.execute(sqlINS, val)
            dc.mydb.commit()
    def getProduct(self):
        dc.mycursor.execute("""
            SELECT p.product_id, p.name, p.category, p.quantity, p.price_per_unit, p.supplier_id, s.name AS supplier_name, s.phone AS supplier_phone, s.email AS supplier_email
            FROM products p
            JOIN suppliers s ON p.supplier_id = s.supplier_id
        """)
        result = dc.mycursor.fetchall()

        total_inventory_value = 0.0
        print("Product ID | Name | Category | Quantity | Price per Unit | Supplier Name | Supplier Phone | Supplier Email")
        print("-" * 100)
        for product in result:
            inventory_value = product[3] * product[4]
            total_inventory_value += inventory_value
            print(product[0],product[1],product[2],product[3],product[4],product[5],product[6],product[7],product[8])
        print("-" * 100)
        print("Total Inventory Value:",total_inventory_value)
    def deleteProducts(self):
        dc.mycursor.execute("SELECT product_id, name FROM products WHERE quantity <= 0")
        result= dc.mycursor.fetchall()

        if result:
            for product in result:
                product_id = product[0]
                dc.mycursor.execute("DELETE FROM products WHERE product_id = %s", (product_id,))
                dc.mydb.commit()
class Supplier:
    def setSupplier(self):
        self.supplier_id = input("Enter supplier_id: ")
        self.name = input("Enter supplier name: ")
        self.phone = input("Enter supplier phone number: ")
        self.email = input("Enter supplier email: ")
        self.address = input("Enter supplier address: ")
        self.contact_info={"Phone":self.phone,"Email":self.email}
        sqlINS = """INSERT INTO suppliers(supplier_id, name, phone, email, address) 
                    VALUES (%s, %s, %s, %s, %s)"""
        val = (self.supplier_id, self.name, self.phone, self.email, self.address)
        dc.mycursor.execute(sqlINS, val)
        dc.mydb.commit()
    def getSupplier(self):
        dc.mycursor.execute("SELECT * FROM suppliers")
        result = dc.mycursor.fetchall()
        for supplier in result:
            print(supplier)
class Order:
    def setOrder(self):
        self.order_id = input("Enter order_id: ")
        self.product_id = input("Enter product_id: ")
        self.supplier_id = input("Enter supplier_id: ")
        self.order_quantity = int(input("Enter order_quantity: "))
        self.order_date = input("Enter order_date: ")
        dc.mycursor.execute("SELECT quantity, price_per_unit FROM products WHERE product_id = %s", (self.product_id,))
        result = dc.mycursor.fetchone()
        if result:
            current_quantity, price_per_unit = result
            if current_quantity >= self.order_quantity:
                new_quantity = current_quantity - self.order_quantity
                dc.mycursor.execute("UPDATE products SET quantity = %s WHERE product_id = %s", (new_quantity, self.product_id))
                dc.mydb.commit()
                sqlINS = """INSERT INTO orders(order_id, product_id, supplier_id, order_quantity, order_date) 
                            VALUES (%s, %s, %s, %s, %s)"""
                val = (self.order_id, self.product_id, self.supplier_id, self.order_quantity, self.order_date)
                dc.mycursor.execute(sqlINS, val)
                dc.mydb.commit()
    def getOrder(self):
        dc.mycursor.execute("SELECT * FROM orders")
        result= dc.mycursor.fetchall()
        for order in result:
            print(order)
#supplier=Supplier()
#supplier.setSupplier()
#product = Product()
#product.setProduct()
#order = Order()
#order.setOrder()
#product.getProduct()
#order.getOrder()
#product.deleteProducts()

In [9]:
# Python and Mysql Combine Solutions
import pymysql 
def select_query(table_name, conditions):
    try:
        mydb = pymysql.connect(
            host="localhost",
            user="root",
            password="tejaMS123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql_q = "SELECT e.*, d.dname FROM " + table_name + " AS e JOIN dept AS d ON e.deptno = d.deptno"
        if conditions:
            keys = []
            values = []
            for key, value in conditions.items():
                keys.append(key + " = %s")
                values.append(value)
            
            sql_q += " WHERE " + " AND ".join(keys)
        print("Executing query:", sql_q)
        mycursor.execute(sql_q, values)
        results = mycursor.fetchall()
        for x in results:
            print(x)
    
    except pymysql.MySQLError as err:
        print("Error: ", err)
    # finally:
    #     # Ensure the cursor and connection are closed
    #     if mycursor:
    #         mycursor.close()
    #     if mydb:
    #         mydb.close()
select_query('emp', {'job': 'MANAGER', 'dname': 'SALES'})

Executing query: SELECT e.*, d.dname FROM emp AS e JOIN dept AS d ON e.deptno = d.deptno WHERE job = %s AND dname = %s
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30, 'SALES')

In [13]:
import pymysql
employee_data = [
    (10, 'Alice', 'Manager'),
    (20, 'Bob', 'Engineer'),
    (30, 'Charlie', 'HR'),
    (40, 'David', 'Manager'),
    (50, 'Eve', 'Engineer'),
    (40, 'David', 'Manager')
]
def insert_details(employee_data):
    try:
        mydb =pymysql.connect(
            host="localhost",
            user="root",
            password="tejaMS123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql="select * from emp"
        sqlINS="insert into emp(deptno,ename,job) values(%s,%s,%s)"
        for x in employee_data:
            mycursor.execute(sqlINS,x)
            mydb.commit()
        print("rows are inserted successfully")
    except:
        pass
insert_details(employee_data)

rows are inserted successfully

In [15]:
import pymysql
def select_query(table_name):
    try:
        mydb =pymysql.connect(
            host="localhost",
            user="root",
            password="tejaMS123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql_query=""" SELECT job, AVG(sal) AS average_salary FROM """+table_name+"""
        GROUP BY job 
        ORDER BY average_salary DESC 
        LIMIT 3;"""
        mycursor.execute(sql_query)
        results=mycursor.fetchall()
        for x in results:
            print(x)
    except:
        pass
    finally:
        mycursor.close()
        mydb.close()
select_query("emp")

('ANALYST', Decimal('8666.6667'))
('PRESIDENT', Decimal('5000.0000'))
('MANAGER', Decimal('2758.3333'))

In [19]:
import pymysql
mydb=pymysql.connect(host="localhost",user="root",passwd="tejaMS123@")
mycursor=mydb.cursor()
choice="yes"
while choice=="yes":
    mycursor.execute("show databases")
    i=1
    d1=[]
    for x in mycursor:
        print(i,".",x[0])
        d1.append(x[0])
        i+=1
    dc=int(input("choice for database:"))
    dst="use "+d1[dc-1]
    mycursor.execute(dst)
    mycursor.execute("show tables")
    i=1
    t1=[]
    for y in mycursor:
        print(i,".",y[0])
        t1.append(y[0])
        i+=1
    tc=int(input("do u want which table:"))
    tst="select * from "+t1[tc-1]
    mycursor.execute(tst)
    for tc in mycursor:
        print(tc[0],tc[1],tc[2])
    choice=input("do you want to cntinue[yes/no]:")

1 . bank
2 . company
3 . employee
4 . information_schema
5 . inventory
6 . library
7 . mysql
8 . office
9 . performance_schema
10 . school
11 . sys
12 . warehouse

choice for database: 2

1 . dept
2 . emp

do u want which table: 1

10 ACCOUNTING NEW YORK
20 RESEARCH DALLAS
30 SALES CHICAGO
40 OPERATIONS BOSTON

do you want to cntinue[yes/no]: yes

1 . bank
2 . company
3 . employee
4 . information_schema
5 . inventory
6 . library
7 . mysql
8 . office
9 . performance_schema
10 . school
11 . sys
12 . warehouse

choice for database: 2

1 . dept
2 . emp

do u want which table: 2

7369 SMITH CLERK
7499 ALLEN SALESMAN
7521 WARD SALESMAN
7566 JONES MANAGER
7654 MARTIN SALESMAN
7698 BLAKE MANAGER
7782 CLARK MANAGER
7788 SCOTT ANALYST
7839 KING PRESIDENT
7844 TURNER SALESMAN
7876 ADAMS CLERK
7900 JAMES CLERK
7902 FORD ANALYST
7934 MILLER CLERK

do you want to cntinue[yes/no]: no